
h1 {
    text-align: center;
    position: relative;
    top: 5px;
    font-size: 45px;
}
h3 {
    text-align: center;
    position: relative;
    top: 5px;
    font-size: 35px;
}
.logout{
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 30px;
}
